<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Eriocnemis_AutoCancel::rule" title="Order Auto Cancel Rules" translate="title" sortOrder="55">
                            <resource id="Eriocnemis_AutoCancel::rule_edit" title="Edit Rule" translate="title" sortOrder="10"/>
                            <resource id="Eriocnemis_AutoCancel::rule_delete" title="Delete Rule" translate="title" sortOrder="20"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
